<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @target.first_name %>!</p>
<p data-test="link">
	<a href="<%= Rails.configuration.frontend_url %><%= @author.frontend_link %>"><%= @author.full_name %></a> posted a <a href="<%= Rails.configuration.frontend_url %><%= @object.frontend_link %>">new post</a> on a <a href="<%= Rails.configuration.frontend_url %><%= @followed_thing.frontend_link %>"><%= @followed_thing.class.name.singularize.downcase %></a> you are following.
</p>
<a data-test="check-it-out" href="<%= Rails.configuration.frontend_url %><%= @followed_thing.frontend_link %>" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Check it out!
	</button>
</a>
