<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @target.first_name %>!</p>
<p><a href="<%= Rails.configuration.frontend_url %><%= @author.frontend_link %>"><%= @author.full_name %></a> posted a <a href="<%= Rails.configuration.frontend_url %><%= @object.frontend_link %>">new post</a> on a <a href="<%= Rails.configuration.frontend_url %><%= @object.frontend_link %>"><%= @object.class.name.singularize.downcase %></a> you are an admin of.</p>
<a href="<%= Rails.configuration.frontend_url %><%= @object.frontend_link %>" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Check it out!
	</button>
</a>
