<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @target.first_name %>!</p>
<p>Your request to join <a href="<%= Rails.configuration.frontend_url %><%= @object.frontend_link %>"><%= @object.title %></a> has been approved!
